<div class="row" *ngFor="let v of store.vehicules">
    <div class="col-md-3">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{v.image?.data}}" alt="">
      </a>
    </div>
    <div class="col-md-9">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      <h4>{{v.immatriculation}}</h4>
      <div class="row">
        <div class="col-md-4">
          <label class="font-weight-bold">Modele</label>
          {{v.modele}}
        </div>
        <div class="col-md-4">
          <label class="font-weight-bold">Fabricant</label>
          {{v.fabricant}}
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="font-weight-bold">Carburant</label>
          {{v.carburant}}
        </div>
        <div class="col-md-4">
          <label class="font-weight-bold">Vitesse</label>
          {{v.vitesse}}
        </div>
        <div class="col-md-4">
          <label class="font-weight-bold">P. Tac</label>
          {{v.ptac}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="font-weight-bold">Ville</label>
          {{v.ville}}
        </div>
        <div class="col-md-4">
          <label class="font-weight-bold">Actif</label>
          {{v.isactive ? 'Oui' : 'Non'}}
        </div>
        <div class="col-md-4 text-right">
          <button type="button" (click)="edit(v)" class="btn btn-outline-info">Editer</button>
        </div>
      </div>
      
    </div>
    <hr class="mb-4">

  </div>

  <div class="row">
    <div class="col-md-3 mb-3"><button class="btn btn-outline-info" (click)="add()">Ajouter un vehicule</button></div>
  </div>
