
<div class="image-upload">
    <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
</div>


    <div class="d-flex flex-row flex-wrap">
        <div *ngFor="let i of images" style="padding:4px">
            <img src="{{i.data}}" style="height:150px;border:solid 4px gray">
            <div>
                <button class="button" (click)="deleteImage(i)">Supprimer</button>
                <button class="button" (click)="setImagePricipale(i)">Set Principale</button>
            </div>
            
        </div>
    </div>
