
<!-- <div class="row">
  <div style="width: 840px; height: 200px; text-align:center;margin:0; padding:0;">
    <ng-image-slider #nav
    [images]="imageObject"
    [infinite]="false"
    [autoSlide]="1"
    [imageSize]="{width: '25%', height: 200}"
    slideImage="1"></ng-image-slider>
  </div>
</div> -->
<h5 class="mb-3">Profile Transporteur</h5>
<form class="needs-validation" novalidate>
  <div class="row">
    <div class="col-md-4 mb-3">
      <label for="prenom">Prénom</label>
      <input type="text" [(ngModel)]="store.transporteur.prenom" name="prenom" class="form-control" id="prenom" placeholder="Prenom">
    </div>
    <div class="col-md-4 mb-3">
      <label for="nom">Nom</label>
      <input type="text" [(ngModel)]="store.transporteur.nom" name="nom" class="form-control"  id="nom" placeholder="Nom">
    </div>
</div>

<div class="row">
  <div class="col-md-4 mb-3">
    <label for="cin">CIN</label>
    <input type="text" [(ngModel)]="store.transporteur.cin" name="cin" class="form-control" id="cin" placeholder="CIN">
  </div>
  <div class="col-md-4 mb-3">
    <label for="permis">Permis</label>
    <input type="text"  [(ngModel)]="store.transporteur.permis" name="permis" class="form-control"  id="permis" placeholder="Permis">
  </div>
  <div class="col-md-4 mb-3">
    <label for="dateexpirationpermis">Date Exp.</label>
    <input type="text"  [(ngModel)]="store.transporteur.dateexpirationpermis" name="dateexpirationpermis" class="form-control"  id="dateexpirationpermis" placeholder="Date Exp.">
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-3">
    <label for="dateinscription">Date inscription</label>
    <input type="text"  [(ngModel)]="store.transporteur.dateinscription" name="dateinscription" class="form-control"  id="dateinscription" placeholder="Date inscription">
  </div>
  <div class="col-md-4 mb-3">
    <label for="nbrvehicules">Nbr. vehicule</label>
    <input type="number"  [(ngModel)]="store.transporteur.nbrvehicules" name="nbrvehicules" class="form-control"  id="nbrvehicules" placeholder="Nbr. vehicules">
  </div>
  <div class="col-md-4 mb-3">
    <label for="nbr">Nbr. voyages</label>
    <input type="number"  [(ngModel)]="store.transporteur.nbrvoyages" name="nbrvoyages" class="form-control"  id="nbrvoyages" placeholder="Nbr. voyages">
  </div>
</div>

<div class="row">
  <div class="col-md-2 mb-3">
    <label for="dateinscription">Cote</label>
    <input type="number"  [(ngModel)]="store.transporteur.cote" name="permis" class="form-control"  id="cote" placeholder="Cote">
  </div>
</div>

  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="same-address">
    <label class="custom-control-label" for="same-address">Actif</label>
  </div>

  <hr class="mb-4">

  <h5 class="mb-3">Adresse</h5>
  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="country">Pays</label>
      <select class="custom-select d-block w-100" id="country" required>
        <option value="">Choisir...</option>
        <option>Maroc</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="state">Ville</label>
      <select class="custom-select d-block w-100" id="state" required>
        <option value="">Choisir...</option>
        <option>Rabat</option>
        <option>Casablanca</option>
        <option>Tanger</option>
        <option>Fes</option>
      </select>
    </div>
    <div class="col-md-3 mb-3">
      <label for="zip">Code postal</label>
      <input type="text" class="form-control" id="zip" placeholder="" required>
      <div class="invalid-feedback">
        Zip code required.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3"><button (click)="addTransporteur()" class="btn btn-primary btn-lg btn-block">Creer</button></div>
    <div class="col-md-4 mb-3"><button (click)="upsertTransporteur()" class="btn btn-primary btn-lg btn-block">Sauvegarder</button></div>
    <div class="col-md-4 mb-3"><button (click)="deleteTransporteur()" class="btn btn-primary btn-lg btn-block">Supprimer</button></div>
  </div>
</form>
