<div style="display:flex; flex-direction:row">
    <div class="container" style="flex:1">
      <h2>Expediteurs</h2>
      <p style="min-height:150px">Notre plateforme digitale permet aux expéditeurs de toute taille, du grand groupe international à la PME, de trouver le meilleur transporteur pour toutes leurs expéditions à travers le Maroc, du camion complet à quelques palettes, au meilleur prix (en spot ou en régulier).</p>
      <div class="card" style="width:100%;margin:20px 0 24px 0">
        <img class="card-img-top" src="assets/img/expediteur.jpg" alt="image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Some Title Here</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a routerLink="/inscription" class="btn btn-outline-primary">S'inscrire</a>
        </div>
      </div>
    </div>
    <div class="container" style="flex:1">
      <h2>Transporteurs</h2>
      <p style="min-height:150px">Notre plateforme digitale permet aux transporteurs de réduire les kilomètres à vide, en trouvant du fret en spot ou en régulier sur les lignes qu'ils sélectionnent à travers le Maroc, avec des prix définis, et d'être payés en 72 heures avec le programme Paiement Express.</p>
      
      <div class="card" style="width:100%;margin:20px 0 24px 0">
        <img class="card-img-top" src="assets/img/transporteur.jpg" alt="image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Some other Title</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a routerLink="/inscription" class="btn btn-outline-primary">S'inscrire</a>
        </div>
      </div>

    </div>
    <div style="flex:2;font-size:12px">
      <img src="assets/img/trak.jpg" style="width:100%">
    </div>
  </div>