
<div class="container">

    <div class="row">
      <div class="col-md-4 order-md-1 mb-4">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#" class="card-link" [routerLink]="['.']">Profile Transporteur</a></li>
              <li class="list-group-item"><a href="#" class="card-link" [routerLink]="['./vehicule']">Vehicules</a></li>
              <li class="list-group-item">Compte</li>
              <li class="list-group-item">Preferences</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Vehicules</a>
              <a href="#" class="card-link">Voyages</a>
            </div>
            <img class="card-img-top" src="../../../assets/img/camion1.jpg" style="width:200px;margin:auto">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>            
            <img class="card-img-top" src="../../../assets/img/camion2.jpg"  style="width:200px;margin:auto"> 
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>            
            <img class="card-img-top" src="../../../assets/img/camion3.jpg"  style="width:200px;margin:auto">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>            
          </div>
      </div>
      <div class="col-md-8 order-md-2">
        <router-outlet></router-outlet>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2020-2021 Trak Inc.</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>

