
<div class="container">

    <div class="row">
      <div class="col-md-4 order-md-1 mb-4">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Profile Transporteur</li>
              <li class="list-group-item">Information Personnels</li>
              <li class="list-group-item">Compte</li>
              <li class="list-group-item">Preferences</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Camions</a>
              <a href="#" class="card-link">Voyages</a>
            </div>
            <img class="card-img-top" src="../../../assets/img/camion1.jpg" style="width:200px;margin:auto">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>            
            <img class="card-img-top" src="../../../assets/img/camion2.jpg"  style="width:200px;margin:auto"> 
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>            
            <img class="card-img-top" src="../../../assets/img/camion3.jpg"  style="width:200px;margin:auto">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>            
          </div>
    </div>
    <div class="col-md-8 order-md-2">
        <h4 class="mb-3">Profile Transporteur</h4>
        <div class="row">
            <div style="width: 840px; height: 200px; text-align:center;margin:0; padding:0;">
                <ng-image-slider #nav
                [images]="imageObject"
                [infinite]="false"
                [autoSlide]="1"
                [imageSize]="{width: '25%', height: 200}"
                slideImage="1"></ng-image-slider>
            </div>
        </div>
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Prénom</label>
              <input type="text" ng="user.prenom" name="prenom" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Nom</label>
              <input type="text" name="nom" class="form-control"  id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="username">Nom d'utilisaeur</label>
              <div class="input-group">
                <div class="input-group-prepend" style="height:25px">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" ng="user.username" name="username" class="form-control" id="username" placeholder="Username" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="password">Mot de passe</label>
              <input type="password" ng="user.password" name="password" class="form-control"  id="password" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid password is required.
              </div>
            </div>

          </div>



          <div class="mb-3">
            <label for="email">Email <span class="text-muted">(Optional)</span></label>
            <input type="email"  ng="user.email" name="email" class="form-control" id="email" placeholder="you@example.com">
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>

          <div class="mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>

          <div class="mb-3">
            <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
          </div>

          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="country">Pays</label>
              <select class="custom-select d-block w-100" id="country" required>
                <option value="">Choisir...</option>
                <option>Maroc</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="state">Ville</label>
              <select class="custom-select d-block w-100" id="state" required>
                <option value="">Choisir...</option>
                <option>Rabat</option>
                <option>Casablanca</option>
                <option>Tanger</option>
                <option>Fes</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="zip">Code postal</label>
              <input type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <div class="row">
            <div class="col-md-4 mb-3"><button (click)="createUser()" class="btn btn-primary btn-lg btn-block">Creer</button></div>
            <div class="col-md-4 mb-3"><button (click)="updateUser()" class="btn btn-primary btn-lg btn-block">Sauvegarder</button></div>
            <div class="col-md-4 mb-3"><button (click)="deleteUser()" class="btn btn-primary btn-lg btn-block">Supprimer</button></div>

          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address">
            <label class="custom-control-label" for="same-address">Cet utilisateur est un Expediteur</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Cet utilisateur est un Transporteur</label>
          </div>
          <hr class="mb-4">

          <h4 class="mb-3">Method de paiement</h4>

          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
              <label class="custom-control-label" for="credit">Carte de crédit</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="debit">Carte débit</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="paypal">Paypal</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">Non sur la carte</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required>
              <small class="text-muted">Nom complet commme c'est affiché sur la carte</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">Numéro de la carte de crédit</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required>
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block">Cliquez pour s'inscrire</button>
        </form>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2020-2021 Trak Inc.</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>

