
<div class="container-fluid">
    <div class="row">
      <div class="w-600 order-md-1 .d-none .d-md-block .d-lg-none">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <img src="assets/img/person.svg" alt="" width="25" height="25" style="margin-right:10px">
                <a href="#" class="card-link" [routerLink]="['.']">Profile Transporteur</a>
              </li>
              <li class="list-group-item">
                <img src="assets/img/truck.svg" alt="" width="25" height="25" style="margin-right:10px">
                <a href="#" class="card-link" [routerLink]="['./vehicules']">Vehicules</a>
              </li>
              <li class="list-group-item">
                <img src="assets/img/truck.svg" alt="" width="25" height="25" style="margin-right:10px">
                <a href="#" class="card-link" [routerLink]="['./enroute']">Vehicules en route</a>
              </li>
              <li class="list-group-item">
                <h5>
                  <img src="assets/img/map.svg" alt="" width="25" height="25" style="margin-right:10px">
                  <span class="badge badge-info" (click)="nav(['/map'])">Voayges</span>
                </h5>
              </li>
              <li class="list-group-item">
                <img src="assets/img/code.svg" alt="" width="25" height="25" style="margin-right:10px">
                Preferences
              </li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Vehicules</a>
              <a href="#" class="card-link">Voyages</a>
            </div>
            <img class="card-img-top" src="../../../assets/img/camion1.jpg" style="width:200px;margin:auto">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>            
            <img class="card-img-top" src="../../../assets/img/camion2.jpg"  style="width:200px;margin:auto"> 
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>            
            <img class="card-img-top" src="../../../assets/img/camion3.jpg"  style="width:200px;margin:auto">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>            
          </div>
      </div>
      <div class="col order-md-2">
        <router-outlet></router-outlet>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2020-2021 Trak Inc.</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>

