<div class="container-fluid" *ngIf="view == 1">
  <div class="row">
      <!-- <div style="width: 840px; height: 200px; text-align:center;margin:0; padding:0;">
          <ng-image-slider #nav
          [images]="imageObject"
          [infinite]="false"
          [autoSlide]="1"
          [imageSize]="{width: '25%', height: 200}"
          slideImage="1"></ng-image-slider>
      </div> -->
  </div>
  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-1"><img src="assets/img/shop.svg" alt="" width="32" height="32"></div>
    <div class="col-md-1"><img src="assets/img/archive.svg" alt="" width="32" height="32"></div>
    <div class="col-md-1"><img src="assets/img/arrow-left-square.svg" alt="" width="32" height="32"></div>
    <div class="col-md-1"><img src="assets/img/type.svg" alt="" width="32" height="32"></div>
    <div class="col-md-1"><img src="assets/img/truck.svg" alt="" width="32" height="32"></div>
    <div class="col-md-1"><img src="assets/img/upc.svg" alt="" width="32" height="32"></div>
    <div class="col-md-1"><img src="assets/img/truck-flatbed.svg" alt="" width="32" height="32"></div>
    <div class="col-md-1"><img src="assets/img/dice-1.svg" alt="" width="32" height="32"></div>
    <div class="col-md-1"><img src="assets/img/dice-2.svg" alt="" width="32" height="32"></div>
  </div>
  <div class="row text-right">
    <div class="col-6">
      <h4 class="mb-3 text-left">Vehicules</h4>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-info">Ajouter un vehicule</button>
    </div>
  </div>

  <routers-outlet></routers-outlet>

  <div class="row">
    <div class="col-md-3 mb-3"><button class="btn btn-outline-info" (click)="addVehicule()">Ajouter un vehicule</button></div>
  </div>

</div>







